<ion-view>
	<ion-nav-title>
      {{'app_title' | translate}} - {{'lbl_menu_schedule' | translate}}
    </ion-nav-title>

	<ion-content padding="true">
		<div style="float: left;">
			<div>
				<button class="button button-small icon ion-android-refresh" ng-click="refresh()"></button>

				<!-- filter -->
				<select ng-model="filters.classroom"
					ng-change="filter()"
					ng-options="classroom.key as classroom[getLang()] for classroom in classroomList"
				>
				</select>

				<select ng-model="filters.teacher"
					ng-change="filter()"
					ng-options="teacher.code as teacher.name for teacher in teacherList"
				>
				</select>
				
				<select ng-model="filters.view"
					ng-options="view.key as view.value for view in viewList"
				>
				</select>
				
			</div>
		</div>

		<div class="row"></div>
		
<div ng-if="filters.view == 'row'">
<ion-item class="col-demo-header">
	{{filteredClassSchedule.classroom[getLang()]}}
</ion-item>


<ion-list can-swipe="true" ng-repeat="h in classScheduleData.headers" ng-init="outerIdx = $index">
	<ion-item class="item-divider">
		{{showTableHeader(h)}}
	</ion-item>
	
	<ion-item ng-repeat="c in filteredClassSchedule.classSchedule" ng-if="showTableContent(c[outerIdx]) != ''">
		<a ng-click="openModal(c[outerIdx], filteredClassSchedule.classroomIdx, outerIdx)">
			<span style="text-decoration: underline;cursor: pointer;">{{showTableContent(c[outerIdx])}}</span>
		</a>
	</ion-item>
</ion-list>
</div>		
		
<div align="center" ng-if="filters.view == 'table'">
				<div class="row">
					<div class="col col-demo-header col-100">{{filteredClassSchedule.classroom[getLang()]}}</div>
				</div>
				
				<div class="row">
					<div class="col col-demo-header" ng-repeat="h in classScheduleData.headers">
						<pre>{{showTableHeader(h)}}</pre>
					</div>
                </div>
				<div class="row" ng-repeat="c in filteredClassSchedule.classSchedule">
					<div class="col col-demo" ng-repeat="d in c">
						<a ng-click="openModal(d, filteredClassSchedule.classroomIdx, $index)">
							<pre style="text-decoration: underline;cursor: pointer;">{{showTableContent(d)}}</pre>
						</a>
					</div>
				</div>
</div>

	</ion-content>