<ion-view>
	<ion-nav-title>
      {{'app_title' | translate}} - {{'lbl_menu_schedule' | translate}}
    </ion-nav-title>

	<ion-content padding="true">
		<div style="float: left;">
			<button class="button button-small icon ion-@@platform-refresh" ng-click="refresh()"></button>

			<!-- filter -->
			<select ng-model="filters.classroom"
				ng-change="filter()"
				ng-options="classroom.key as classroom[getLang()] for classroom in classroomList"
			>
			</select>

			<select ng-model="filters.teacher"
				ng-change="filter()"
				ng-options="teacher.code as teacher.name for teacher in teacherList"
			>
			</select>
		</div>

<div align="center">
				<div class="row">
					<div class="col col-demo-header col-100">{{filteredClassSchedule.classroom[getLang()]}}</div>
				</div>
				
				<div class="row">
					<div class="col col-demo-header" ng-repeat="h in classScheduleData.headers">
						<pre>{{showTableHeader(h)}}</pre>
					</div>
                </div>
				<div class="row" ng-repeat="c in filteredClassSchedule.classSchedule">
					<div class="col col-demo" ng-repeat="d in c">
						<a ng-click="openModal(d, filteredClassSchedule.classroomIdx, $index)">
							<pre style="text-decoration: underline;cursor: pointer;">{{showTableContent(d)}}</pre>
						</a>
					</div>
				</div>
</div>

	</ion-content>